<!DOCTYPE html>
<html>
  <head>
    <title>RailYatriIn</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= react_component("Nav", {  }) %>
    </header>
    <div id="mobile-home" class="bgclr-grey">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
